.wrapper {
  margin-top: 100px;
}

.title {
  background: #131B23;
  margin-bottom: 30px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;

  h2 {
    color: #fff;
    margin-left: 20px;
    padding: 10px 0;
  }
}

.input-field {
  label {
    color: #131B23;
    font-size: 1.3rem;
  }

  input {
    border-bottom-color: #131B23;
  }
}

span {
  display: inline;
}
